{% extends 'includes/base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}
    <div class="row py-7">
        <div class="col">
            <h1>Results for "{{ query }}"</h1>
        </div>
        <div class="col-xl-12">
            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tab1" data-toggle="tab" href="#movies" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-tv-2 mr-2"></i>Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tab2" data-toggle="tab" href="#series" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-button-play mr-2"></i>TV Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tab3" data-toggle="tab" href="#games" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-spaceship mr-2"></i>Games</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="movies" role="tabpanel" aria-labelledby="tab1">
                    <div class="row">
                        {% include 'movies/display-movies.html.twig' %}
                    </div>
                </div>
                <div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="tab2">
                    <div class="row">
                        {% include 'series/display-series.html.twig' %}
                    </div>
                </div>
                <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="tab3">
                    <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}