.table-custom th, .table-custom td {
    vertical-align: middle;
    white-space: normal;
}

.seasonDownloaded:hover,
.seasonSeen:hover {
    cursor: pointer;
    color: #27476e;
}

.table-tracks td {
    padding: 0.5rem;
}